//main:main.scss
$var : 100%;

//Navbar styles here

nav {
  margin-right: 80px;
  grid-column: 3 / 4;
  display: flex;
  justify-content: flex-end;

  h2 {
    margin-left: 40px;
  }
}

header {
  grid-column: 1 / 4;
  text-align: center;
}
