//main:main.scss
$var: 100%;

//Navbar styles here
nav {
  background: #7effbf9e;
  margin-bottom: 30px;
  grid-column: 1 / 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    text-decoration: none;
    margin-left: 35px;
    color: #000c38;
    h2 {
      padding: 10px 10px;
      border-radius: 15px;
      background-color: transparent;
      display: inline-block;

      &:hover {
        background: #44ff1775;
        padding: 10px 10px;
        border-radius: 15px;
        -webkit-animation: shadow-inset-center 0.4s
          cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation: shadow-inset-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
          both;
      }
    }
  }
}
